.slide-1 {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: relative;
    .item-bgu {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        >img {
            display: block;
            width: 116%;
            height: 110%;
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);          
        }
    }
    .item-title {
        width: 16.6rem;
        height: 6rem;
        position: absolute;
        top: 13.2%;
        left: 0;
        right: 0;
        margin: auto;
        >img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .item-stitle {
        width: 18rem;
        height: 1rem;
        position: absolute;
        top: 27.6%;
        left: 0;
        right: 0;
        margin: auto;
        >img {
            display: block;
            width: 100%;
            height: 100%;            
        }
    }    
    .item-parag {
        width: 16rem;
        height: 2rem;
        position: absolute;
        top: 31.2%;
        left: 0;
        right: 0;
        margin: auto;
        >img {
            display: block;
            width: 100%;
            height: 100%;   
        }

    } 
    .item-faucet {
        width: 22rem;
        height: 23.2rem;
        position: absolute;
        top: 37.2%;
        left: 0;
        right: 0;
        margin: auto;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }   
    .item-holding {
        width: 19.8rem;
        height: 9.8rem;
        color: #676767;
        position: absolute;
        top: 70%;
        left: -2.6rem;
        right: 0;
        margin: auto;
        img {
            display: block;
            width: 110%;
            height: 110%;
        }
    }  
    .item-love {
        width: 2.8rem;
        height: 4.6rem;
        position: absolute;
        top: 32%;
        left: 6%;
        opacity: 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        animation: onedown 6s linear infinite 2s;
    }    
    .item-saving {
        width: 2.8rem;
        height: 4.6rem;
        position: absolute;
        top: 40%;
        left: 22%;
        opacity: 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        animation: twodown 6s linear infinite 2s;
    } 
    .item-cherish {
        width: 2.8rem;
        height: 4.6rem;
        position: absolute;
        top: 44.6%;
        right: 16%;
        opacity: 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        animation: threedown 6s linear infinite 2s;
    } 
    .item-mian {
        font-size: 1.8rem;
        width: 18rem;
        height: 4.6rem;
        text-align: center;
        color: rgb(15, 25, 27);
        position: absolute;
        bottom: 17%;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow:0px 0px 0px #5db0d3,1px 1px 0px #9eb8c4,2px 2px 0px #4679a8;
    } 
    
    @keyframes onedown {  
        0% {
          top: 32%;
          opacity: 0;
        }
        100% {
          top: 38%;
          opacity: 1
        }
    }
    @keyframes twodown {  	
        0% {
          top: 36%;
          opacity: 0;
        }
        100% {
          top: 45%;
          opacity: 1
        }
    }
    @keyframes threedown {  	
        0% {
          top: 44.6%;
          opacity: 0;
        }
        100% {
          top: 50%;
          opacity: 1
        }
    }
}
